.custom-scrollbar__container {
  position: relative;
  height: 24rem; // adjustable
  width: 20rem;  // adjustable
  overflow-y: scroll;

  // Hide native scrollbar (cross-browser)
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; // IE/Edge
  scrollbar-width: none; // Firefox
}

.custom-scrollbar__content {
  padding: 1rem;
}

.custom-scrollbar__track {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 4px;
  width: 8px;
  border-radius: 9999px;
  background-color: var(--scroll-track-bg);
  pointer-events: none; // ignore clicks
}

.custom-scrollbar__thumb {
  width: 100%;
  border-radius: 9999px;
  background-color: var(--scroll-thumb-bg);
  transition: all 0.3s ease;
}