@import '../../styles/variables';

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $neutral-200;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: $neutral-300;
  }

  &__icon {
    font-size: 18px;
  }

  &--dark {
    background-color: $neutral-700;

    &:hover {
      background-color: $neutral-600;
    }
  }
}