@import '../../styles/variables';

.theme-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: $neutral-200;
	cursor: pointer;
	transition: all 0.3s ease;

	&:hover {
		background-color: $neutral-300;
	}
	&:focus {
		background-color: $neutral-300;
		outline: 2px solid $neutral-300;
		outline-offset: 2px;
	}

	&__icon {
		font-size: 18px;
	}

	&__dark {
		background-color: $neutral-700;

		&:hover {
			background-color: $neutral-600;
		}
		&:focus {
			background-color: $neutral-600;
			outline: 2px solid $neutral-0;
			outline-offset: 2px;
		}
	}
}

